<h1>Editing wine strain</h1>

<%= render "form", wine_strain: @wine_strain %>

<br>

<div>
  <%= link_to "Show this wine strain", @wine_strain %> |
  <%= link_to "Back to wine strains", wine_strains_path %>
</div>
